# Images
API_IMAGE=
DISCORD_BOT_IMAGE=
MIGRATOR_IMAGE=

# Environment
ASPNETCORE_ENVIRONMENT=

# Database
POSTGRES_PASSWORD=

# Inter-service communication
API_KEY=
API_PORT=

# Shared Settings
LINKSETTINGS_APIBASEURI=
LINKSETTINGS_WEBSITEBASEURI=
LINKSETTINGS_CDNBASEURI=

# Api settings
AUTHSETTINGS_MANAGER_STEAMIDS_0=
AUTHSETTINGS_MANAGER_STEAMIDS_1=
AUTHSETTINGS_SESSION_EXPIREAFTER=
AUTHSETTINGS_SESSION_MAXSESSIONCOUNT=
AUTHSETTINGS_JWT_ISSUER=
AUTHSETTINGS_JWT_AUDIENCE=
AUTHSETTINGS_JWT_SECRET=
AUTHSETTINGS_BEATLEADER_CLIENTID=
AUTHSETTINGS_BEATLEADER_CLIENTSECRET=
AUTHSETTINGS_DISCORD_CLIENTID=
AUTHSETTINGS_DISCORD_CLIENTSECRET=
AUTHSETTINGS_REDIRECT_ALLOWEDORIGINURLS_0=
AUTHSETTINGS_REDIRECT_ALLOWEDORIGINURLS_1=
GUILDSETTINGS_CREATION_REQUIREDSUBSCRIPTIONTIER=
GUILDSETTINGS_CREATION_MAXGUILDCOUNTPERUSER=
RANKEDMAPSETTINGS_DEFAULTSETTINGS_MAXRANKEDMAPCOUNT=
RANKEDMAPSETTINGS_BOOSTSETTINGS_MAPCOUNTBOOSTS_TIER1=
RANKEDMAPSETTINGS_BOOSTSETTINGS_MAPCOUNTBOOSTS_TIER2=
RANKEDMAPSETTINGS_BOOSTSETTINGS_MAPCOUNTBOOSTS_TIER3=

# Discord Bot settings
DISCORDBOTOPTIONS_ID=
DISCORDBOTOPTIONS_NAME=
DISCORDBOTOPTIONS_STATUS=
DISCORDBOTOPTIONS_TOKEN=
EMOJISETTINGS_WATCHINGYOU=
EMOJISETTINGS_NEEDCONFIRMATION=
EMOJISETTINGS_CONFIRMED=
EMOJISETTINGS_REFUSED=
EMOJISETTINGS_CONGRATS=
EMOJISETTINGS_NOPE=
EMOJISETTINGS_SAD=
EMOJISETTINGS_KEEPITUP=
EMOJISETTINGS_TROPHIES_PLASTIC=
EMOJISETTINGS_TROPHIES_SILVER=
EMOJISETTINGS_TROPHIES_GOLD=
EMOJISETTINGS_TROPHIES_DIAMOND=
EMOJISETTINGS_TROPHIES_RUBY=

