on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - project: api
          - project: discord-bot
          - project: migrator
    env:
      GITHUB_REGISTRY: ghcr.io
      IMAGE_PREFIX: guildsaber
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.x.x

      - name: Install Aspire CLI
        run: dotnet tool install -g Aspire.Cli --version 13.1.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GITHUB_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, tag and push image
        run: |
          aspire deploy --step build-${{ matrix.project }}
          docker tag ${{ matrix.project }}:latest ${{ env.GITHUB_REGISTRY }}/${{ env.IMAGE_PREFIX }}/${{ env.IMAGE_PREFIX }}-${{ matrix.project }}:${{ github.ref_name }}
          docker push ${{ env.GITHUB_REGISTRY }}/${{ env.IMAGE_PREFIX }}/${{ env.IMAGE_PREFIX }}-${{ matrix.project }}:${{ github.ref_name }}

  deploy:
    steps:
      - name: Deploy to Dokploy
        run: |
          curl -X POST ${{ secrets.DOKPLOY_WEBHOOK_URL }} \
          -H "Authorization: Bearer ${{ secrets.DOKPLOY_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{"ref": "${{ github.sha }}"}'